#search_section {
  margin-top: 30px;
  background-color: #9ad4d6;
  padding: 20px;
  border-radius: 10px;
  color: #f2fdff;
  margin-bottom: 50px;
}

.search_title {
  color: #101935;
}

.re_search {
  border: none;
  color: white;
  background-color: #101935;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 50px;
}
